<style type="text/css">
    /*.cm-header,.cm-header .cm-header-btn{*/
    /*background-color:transparent;*/
    /*}*/
    /*.cm-header .cm-header-btn:active{*/
    /*background-color: transparent;*/
    /*}*/

    .house_slider{
        height: 200px;
    }
    .housing {
        padding: 10px 15px;
        position: relative;

        overflow: hidden;
    }

    .house_title{
        font-size:18px;
        margin: auto;
        line-height: 40px;
    }











</style>

<div class="house_slider">
    <img style="height: 200px" src="<%=decorate.avatar.url%>">
</div>
<div class="housing" >
    <div class="house_intro">
        <p class="house_title"><%=decorate.title%></p>
        <span>&nbsp;&nbsp;&nbsp;&nbsp;<%=decorate.body%></span>

    </div>

</div>

