<!--装修页面-->
<style type="text/css">

    .content{ font-size: 18px;text-align: center;margin-top:10px; }

</style>
<ul class="house-list order-list">


<div class="content" >
    <h2>装修</h2>
</div>

<div class="bottom-bar">
    <ul>
        <li class="rent">
            <i class="b-icon"></i>
            <span>首页</span>
        </li>
        <li  class="order">
            <i class="b-icon o-icon"></i>
        <span>约看清单</span>
        </li>
        <li class="mine">
            <i class="b-icon i-icon"></i>
            <span>我的</span>
        </li>
    </ul>
</div>