<div class="searchBar">
    <div class="searchBar-inner">

    </div>
</div>
<div class="mask"></div>
<ul class="house-list">
    <%_.each(list, function(v,i){ %>
    <li data-id="<%=v.id%>">
        <a>
            <div class="img">
                <img src="<%=v.avatar.url%>">
            </div>
            <div class="txt">

                <p class="monthly"><em><%=v.price%></em>&nbsp;元&nbsp;/&nbsp;月</p>
                <p><%=v.title%>&nbsp;&nbsp;|&nbsp;&nbsp;<%=v.area%>m<sup>2</sup></p>
                <p class="addr"><%=v.address%>&nbsp;&nbsp;30号楼</p>
                <p class="btn"><em><%=v.state%></em></p>
            </div>

            <!--<div class="state">-->
                <!--<p class="monthly"><em><%=v.state%></em></p>-->
            <!--</div>-->
        </a>
    </li>
    <%})%>

</ul>

<div class="bottom-bar">
    <ul>
        <li class="rent">
            <i class="b-icon r-icon "></i>
            <span>首页</span>
        </li>
        <li class="order">
            <i class="b-icon o-icon"></i>
            <span>约看清单</span>
        </li>
        <!--<li class="schedule">
            <i class="b-icon c-icon"></i>
            <span>看房日程</span>
        </li>-->
        <li class="mine">
            <i class="b-icon i-icon active"></i>
            <span>我的</span>
        </li>
    </ul>
</div>